<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siuli.andr.whitebird">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".listNotes.ListNoteView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".detailNote.NoteView"/>
        <activity android:name=".addNote.AddNoteView"/>

        <provider
            android:authorities="com.siuli.andr.whitebird"
            android:name=".data.NoteContentProvider"
            android:exported="false"/>
    </application>

</manifest>
