<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siuli.andr.whitebird">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".listNotes.ListNoteView">

        </activity>
        <activity android:name=".detailNote.NoteView"/>
        <activity android:name=".addNote.AddNoteView"/>

        <!-- Account Auth -->
        <activity android:name=".login.LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".account.AuthenticatorActivity"/>
        <activity android:name=".account.SignUpActivity"/>
        <!-- Service for AccountAuthenticator-->
        <service android:name=".account.SiuliAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <!-- End of Account Auth -->

        <!-- Service for SyncAdapter -->
        <service
            android:name=".syncadapter.NoteSyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter"/>
        </service>
        <!-- End of Service for SyncAdapter -->

        <!-- Content Provider -->
        <provider
            android:authorities="com.siuli.andr.whitebird"
            android:name=".data.NoteContentProvider"
            android:exported="false"/>
        <!-- End of Content Provider -->
    </application>

</manifest>
